<!--<h1>Detalle {{ hola }} y este es el id del elemento: {{ idRecibido }}</h1>-->

<div class="card card-body bg-light">

  <p><a routerLink="/lugares">Lugares</a> / Crear Lugar </p>

</div>

<div class="container">

  <label>Nombre</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.nombre" />
  <br>
  <label>Distancia</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.distancia"/>
  <br>
  <label>Cercania</label>
  <input type="number" class="form-control" [(ngModel)]="lugar.cercania"/>
  <br>
  <label>Descripcion</label>
  <textarea class="form-control" [(ngModel)]="lugar.descripcion"></textarea>
  <br>
  <label>Plan</label>
  <input type="text" class="form-control" [(ngModel)]="lugar.plan"/>
  <a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>

</div>
