<!--<h1>Detalle {{ hola }} y este es el id del elemento: {{ idRecibido }}</h1>-->

<div class="card card-body bg-light">

  <p><a routerLink="/lugares">Lugares</a> / Contacto </p>

</div>

<div class="container">

  <label>Nombre</label>
  <input type="text" class="form-control" />
  <br>
  <label>Correo</label>
  <input type="email" class="form-control" />
  <br>
  <label>Mensaje</label>
  <textarea class="form-control"></textarea>
  <br>
  <a class="btn btn-primary">Enviar</a>
  <a class="btn btn-default" routerLink="/lugares">Cancelar</a>

</div>
